*.incl
*.lg
/tinykactl.aux
/tinykactl.idx
/tinykactl.ilg
/tinykactl.ind
/tinykactl.log
/tinykactl.lop
/tinykactl.pdf
/tinykactl.toc
/util/adler
/util/breakcode
/util/lgrind/source/lgrind
/util/lgrind/source/lgrind.o
/util/lgrind/source/lgrindef.o
/util/lgrind/source/regexp.o
/util/linecode
/util/stripcode
/tag
/version
